/Resources/
/Resources_Old/
/Resources_AB/
/Resources_AB_2/
/Resources_AB_3/
/Resources_AB_S/
/Resources_AB_MR/
/Resources_AB_F_7/
/Resources_MB/
/Resources-Depth-5/
/Resources-Depth-4/
/Resources-Depth-4-100/
/venv/
/__pycache__/